$border: #d1dfee;
$gray: #aabbca;
$blue: #005cb8;
$d_blue: #373e4e;
$red: #e63917;
$yellow: #ffeecc;
.color_blue {
  color: $blue;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  &.open {
    overflow: hidden !important;
  }
}

body {
  font-size: 14px;
  background: #e6ebf2;
  color: #000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  min-width: 320px;
}

a,
button,
input,
textarea,
select {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  color: #000;
}

.wrap,
.wrap--small {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  @media only screen and (max-width: 1200px) {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.wrap--small {
  max-width: 900px;
}

.grid {
  margin: 0 -15px;
  font-size: 0;
}

.col {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin: 0 15px 30px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.col_2 {
  width: calc(50% - 30px);
  @media only screen and (max-width: 767px) {
    width: calc(100% - 30px);
  }
}

.col_3 {
  width: calc(33.333333% - 30px);
  @media only screen and (max-width: 767px) {
    width: calc(50% - 30px);
  }
}

.col_4 {
  width: calc(25% - 30px);
  @media only screen and (max-width: 1023px) {
    width: calc(50% - 30px);
  }
  @media only screen and (max-width: 639px) {
    width: calc(100% - 30px);
  }
}

.col_5 {
  width: calc(20% - 30px);
  @media only screen and (max-width: 1023px) {
    width: calc(50% - 30px);
  }
  @media only screen and (max-width: 639px) {
    width: calc(20% - 30px);
  }
}

.header {
  background: #FFF;
  position: relative;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background: $border;
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }
  .top {
    padding-top: 25px;
    padding-bottom: 15px;
    @media only screen and (max-width: 1023px) {
      padding: 0;
    }
    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    .left,
    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(50% - 15px);
      @media only screen and (max-width: 1023px) {
        width: 100%;
        height: 90px;
      }
    }
    .right {
      text-align: right;
      @media only screen and (max-width: 1023px) {
        flex-direction: row-reverse;
      }
    }
    .inner {
      width: 225px;
      @media only screen and (max-width: 1023px) {
        display: none;
      }
    }
    .operating_schedule {
      display: block;
      font-size: 14px;
      height: 48px;
      line-height: 48px;
      color: $gray;
      margin-bottom: 24px;
      padding-left: 15px;
    }
    form {
      position: relative;
      input[type="text"] {
        padding-left: 15px;
        padding-right: 60px;
        display: block;
        width: 100%;
        height: 48px;
        line-height: 48px;
        color: $gray;
        font-size: 14px;
        background: #f7fbfe;
        &::placeholder {
          font-family: 'Open Sans', 'Arial', sans-serif;
          color: $gray;
          font-size: 14px;
          transition: .3s;
        }
        &:focus::placeholder {
          color: rgba(255, 255, 255, 0);
        }
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        height: 48px;
        width: 48px;
        background: #deecfa url('../images/search.svg')no-repeat center center;
      }
    }
    .blue_btn {
      position: relative;
      display: block;
      width: 270px;
      height: 48px;
      line-height: 48px;
      color: #FFF;
      margin-bottom: 24px;
      text-align: center;
      padding-right: 48px;
      background: #4a97e5;
      cursor: pointer;
      @media only screen and (max-width: 1200px) {
        width: 250px;
        font-size: 12px;
        padding-left: 15px;
      }
      @media only screen and (max-width:1023px) {
        margin-bottom: 0;
      }
      @media only screen and (max-width:500px) {
        width: 155px;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 48px;
        height: 48px;
        top: 0;
        right: 0;
        @media only screen and (max-width: 500px) {
          width: 40px;
          height: 40px;
        }
      }
    }
    .re_call {
      &:before {
        background: #005cb8 url('../images/telephone.svg')no-repeat center center;
        @media only screen and (max-width: 500px) {
          background-size: 20px 20px;
        }
      }
    }
    .calculate_cost {
      @media only screen and (max-width: 1023px) {
        display: none;
      }
      &:before {
        background: #005cb8 url('../images/calc.png')no-repeat center center;
      }
    }
    .hidden {
      @media only screen and (max-width: 500px) {
        display: none;
      }
    }
    .info_top {
      margin-bottom: 20px;
      @media only screen and (max-width: 1023px) {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        font-weight: 700;
        font-size: 24px;
        color: $blue;
        @media only screen and (max-width: 1200px) {
          font-size: 20px;
        }
        @media only screen and (max-width:500px) {
          font-size: 16px;
        }
      }
    }
    .info_bottom {
      margin-bottom: 5px;
      @media only screen and (max-width: 1023px) {
        display: none;
      }
      p {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          margin-right: 10px;
          font-size: 18px;
          font-weight: 700;
          color: $gray;
          @media only screen and (max-width: 1200px) {
            font-size: 16px;
          }
        }
        a {
          font-size: 18px;
          font-weight: 700;
          color: $blue;
          border-bottom: 1px solid $blue;
          transition: .3s;
          @media only screen and (max-width: 1200px) {
            font-size: 16px;
          }
          &:hover {
            border-color: rgba(255, 255, 255, 0);
          }
        }
      }
    }
  }
}

.hamburger {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  @media only screen and (min-width: 1024px) {
    display: none;
  }
  @media only screen and (max-width:1023px) {
    width: 25px;
    height: 25px;
  }
  span {
    position: relative;
    display: block;
    height: 8px;
    background: $blue;
    margin-bottom: 14px;
    transition: .3s;
    &:last-child {
      margin-bottom: 0;
    }
    @media only screen and (max-width:1023px) {
      height: 4px;
      margin-bottom: 7px;
    }
  }
}

.menu_hamburger {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  @media only screen and (min-width: 1024px) {
    display: none;
  }
  span {
    position: relative;
    display: block;
    height: 4px;
    background: $blue;
    &:nth-child(1) {
      top: 0px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: -4px;
      transform: rotate(-45deg)
    }
  }
}

.logo {
  text-transform: uppercase;
  color: $blue;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  @media only screen and (max-width: 1200px) {
    font-size: 16px;
  }
  @media only screen and (max-width:1023px) {
    width: 280px;
    display: flex;
    align-items: center;
  }
  @media only screen and (max-width:500px) {
    width: 180px;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    @media only screen and (max-width: 1023px) {
      width: 115px;
      margin-right: 10px;
    }
    @media only screen and (max-width:500px) {
      width: 80px;
    }
  }
  span {
    display: block;
    @media only screen and (max-width: 1023px) {
      text-align: left;
    }
    @media only screen and (max-width:500px) {
      font-size: 14px;
    }
  }
}

.main_menu {
  max-width: 1280px;
  height: 65px;
  margin: 0 auto;
  padding: 22px 50px 0;
  border-top: 1px solid $border;
  @media only screen and (max-width: 1280px) {
    padding: 22px 10px 0;
  }
  @media only screen and (max-width:1023px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    background: #FFF;
    padding: 33px 10px 0;
    height: 100vh;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: .3s;
    &.open {
      transform: translateY(0);
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
  }
  li {
    @media only screen and (max-width: 1023px) {
      display: block;
      width: 100%;
      border-top: 1px solid #d1dfee;
      &:first-child {
        display: none;
      }
    }
    &.hidden {
      .big_btn {
        margin: 30px auto 50px;
      }
      @media only screen and (min-width:1024px) {
        display: none;
      }
    }
  }
  a:not(.big_btn) {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 12px;
    color: $blue;
    @media only screen and (max-width: 1200px) {
      font-size: 14px;
    }
    @media only screen and (max-width:1023px) {
      color: #373e4e;
      font-weight: 400;
      display: block;
      padding: 15px 0;
      transition: .3s;
      &:hover {
        color: $red;
      }
    }
    &.active {
      color: $red;
      border-bottom: 2px solid $red;
      @media only screen and (max-width: 1023px) {
        color: #373e4e;
        border: none;
      }
    }
  }
}

.big_btn {
  display: block;
  color: #FFF;
  max-width: 270px;
  height: 48px;
  font-size: 0;
  .text {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 48px);
    text-transform: uppercase;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    color: #FFF;
    text-align: center;
    background: #4a97e5;
  }
  .img {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #005cb8;
    img {
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  background: #FFF;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
}

h1,
h2 {
  font-size: 30px;
  margin-bottom: 30px;
  padding-left: 135px;
  @media only screen and (max-width: 1023px) {
    padding-left: 0;
    font-size: 24px;
  }
}

h1 {
  padding-left: 0;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  @media only screen and (max-width: 1023px) {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrap_banner_slider {
  position: relative;
  color: #FFF;
  margin-bottom: 30px;
  .arrow {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    display: block;
    width: 10px;
    height: 17px;
    cursor: pointer;
    @media only screen and (max-width: 1340px) {
      display: none;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .prev {
    left: -20px;
    background: url('../images/arrow_left_blue.svg')no-repeat center center;
  }
  .next {
    right: -20px;
    background: url('../images/arrow_right_blue.svg')no-repeat center center;
  }
  .slide {
    height: 160px;
    .wrap {
      display: flex;
      align-items: center;
    }
    .left {
      width: 280px;
      padding-right: 25px;
      text-align: right;
      font-size: 30px;
      border-right: 1px solid #fff;
      @media only screen and (max-width: 500px) {
        font-size: 25px;
        width: auto;
      }
      strong, b {
        display: block;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 1.2;
      }
    }
    .right {
      padding-left: 25px;
      @media only screen and (max-width: 767px) {
        display: none;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

.slick-slide {
  outline: none;
}

.suggestions {
  margin-bottom: 30px;
  .col {
    height: 240px;
    position: relative;
    &:last-child {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  .block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    @media only screen and (max-width: 1023px) {
      padding: 0 20px;
    }
  }
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  p {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
  }
  span {
    font-size: 12px;
    color: $red;
  }
}

.hello {
  margin-bottom: 60px;
  p {
    font-size: 14px;
    line-height: 28px;
    color: #4b5661;
    max-width: 900px;
    margin: 0 auto;
  }
}

.some_section {
  margin-bottom: 30px;
  .col {
    height: 160px;
    @media only screen and (max-width: 1023px) {
      &:nth-child(3), &:nth-child(4) {
        display: none;
      }
    }
    @media only screen and (max-width:639px) {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.some_section--hidden {
  @media only screen and (max-width: 1023px) {
    display: none;
  }
}

.some_section--last {
  margin-bottom: 0;
}

.wrap_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .arrows {
    display: flex;
    @media only screen and (min-width: 1024px) {
      display: none;
    }
    &.arrows--visible {
      @media only screen and (min-width: 1024px) {
        display: flex;
      }
    }
    .arrow {
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      margin-bottom: 30px;
      transition: .3s;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &.prev {
        background: url('../images/arrow_left_blue.svg')no-repeat center center;
        &:hover {
          background: #f1f5fa url('../images/arrow_left_blue.svg')no-repeat center center;
        }
      }
      &.next {
        background: url('../images/arrow_right_blue.svg')no-repeat center center;
        &:hover {
          background: #f1f5fa url('../images/arrow_right_blue.svg')no-repeat center center;
        }
      }
    }
  }
  .number_marker {
    position: absolute;
    top: -5px;
    left: 0;
    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }
}

.our_objects_section {
  margin-bottom: 30px;
  .item {
    position: relative;
    &:hover {
      .info {
        background: $red;
      }
    }
    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .img {
      height: 160px;
    }
    .info {
      height: 95px;
      display: flex;
      text-align: center;
      align-items: center;
      color: #FFF;
      background: $blue;
      padding: 0 40px;
      transition: .3s;
      @media only screen and (max-width: 767px) {
        padding: 0 20px;
      }
      p {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
}

.our_clients_section {
  padding: 60px 0 0;
  margin-bottom: 60px;
  background: rgb(208, 218, 232);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZGFlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2YxZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba(208, 218, 232, 1) 0%, rgba(236, 241, 245, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(208, 218, 232, 1)), color-stop(100%, rgba(236, 241, 245, 1)));
  background: -webkit-linear-gradient(left, rgba(208, 218, 232, 1) 0%, rgba(236, 241, 245, 1) 100%);
  background: -o-linear-gradient(left, rgba(208, 218, 232, 1) 0%, rgba(236, 241, 245, 1) 100%);
  background: -ms-linear-gradient(left, rgba(208, 218, 232, 1) 0%, rgba(236, 241, 245, 1) 100%);
  background: linear-gradient(to right, rgba(208, 218, 232, 1) 0%, rgba(236, 241, 245, 1) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0dae8', endColorstr='#ecf1f5', GradientType=1);*/
  .img {
    display: flex;
    align-items: center;
    background: #FFF;
    margin-bottom: 20px;
    height: 125px;
    border: 1px solid $border;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
}

.our_reviews_section {
  margin-bottom: 30px;
  .item {
    text-align: center;
    &:hover {
      .img {
        &:before,
        &:after {
          opacity: 1;
        }
      }
      .text {
        color: $red;
      }
    }
    .img {
      position: relative;
      display: block;
      width: 100%;
      //height: 270px;
      margin-bottom: 10px;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.4);
        transition: .3s;
        opacity: 0;
        z-index: 1;
      }
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 48px;
        height: 48px;
        top: 50%;
        margin-top: -24px;
        left: 50%;
        margin-left: -24px;
        background: rgba(0, 0, 0, 0.6) url('../images/search2.svg')no-repeat center center;
        transition: .3s;
        opacity: 0;
        z-index: 2;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    .text {
      display: block;
      padding: 0 20px;
      line-height: 1.2;
      transition: .3s;
    }
  }
}

.pre_footer_menu {
  max-width: 1280px;
  margin: 0 auto;
  background: $d_blue;
  @media only screen and (max-width: 1023px) {
    display: none;
  }
  .wrap ul {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    transition: .3s;
    @media only screen and (max-width: 1200px) {
      font-size: 14px;
    }
    &:hover {
      color: $red;
    }
  }
}

.pre_footer {
  padding-top: 60px;
  background: #e0e5eb;
  .accordeon {
    margin-bottom: 20px;
    .col_4 {
      @media only screen and (max-width: 1023px) {
        width: calc(100% - 30px);
        margin-bottom: 20px;
      }
    }
    p {
      margin-bottom: 8px;
    }
    a {
      color: $blue;
      line-height: 1.2;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .accordeon_inner {
    @media only screen and (min-width: 1024px) {
      display: block !important;
    }
  }
  .accordeon_title {
    color: #373e4e;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 15px;
    cursor: pointer;
    @media only screen and (max-width: 1023px) {
      background: url('../images/arrow_accordeon.png')no-repeat right center;
    }
  }
  .some_section {
    margin-bottom: 0;
  }
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  background: #252f3b;
  color: #a6b7d5;
  a {
    color: #a6b7d5;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    border-bottom: 1px solid #373e4e;
    @media only screen and (max-width: 1023px) {
      flex-direction: column-reverse;
      justify-content: space-around;
      padding-top: 30px;
    }
  }
  .bottom {
    text-align: center;
    position: relative;
    padding: 10px 0 15px;
    font-size: 12px;
    span {
      @media only screen and (max-width: 1023px) {
        display: block;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }
  .logo_footer {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 1023px) {
      display: none;
    }
    img {
      width: 85px;
    }
    p {
      padding-left: 15px;
    }
    span {
      display: block;
      font-size: 14px;
      color: $yellow;
    }
  }
  .create {
    color: #60f2ff;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .advertisers {
    position: absolute;
    right: 0;
    top: 10px;
    color: $yellow;
    @media only screen and (max-width: 1023px) {
      display: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .advertisers_hidden {
    display: block;
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    color: $yellow;
    width: 250px;
    text-align: center;
    background: $d_blue;
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }
  .adress,
  .info {
    p {
      line-height: 1.4;
    }
  }
  .adress {
    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }
  .info {
    @media only screen and (max-width: 1023px) {
      margin: 30px 0;
      text-align: center;
    }
  }
  .btns {
    @media only screen and (max-width: 1023px) {
      width: 100%;
    }
  }
  .blue_btn {
    position: relative;
    display: block;
    width: 270px;
    height: 48px;
    line-height: 48px;
    color: #FFF;
    margin-bottom: 5px;
    text-align: center;
    padding-right: 48px;
    background: #373e4e;
    cursor: pointer;
    @media only screen and (max-width: 1200px) {
      width: 250px;
      font-size: 12px;
      padding-left: 15px;
    }
    @media only screen and (max-width:1023px) {
      margin: 0 auto 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 48px;
      height: 48px;
      top: 0;
      right: 0;
    }
  }
  .re_call {
    &:before {
      background: #005cb8 url('../images/telephone.svg')no-repeat center center;
      @media only screen and (max-width: 500px) {
        background-size: 20px 20px;
      }
    }
  }
  .calculate_cost {
    &:before {
      background: #005cb8 url('../images/calc.png')no-repeat center center;
    }
  }
}

.scroll_top {
  display: none;
  width: 48px;
  height: 48px;
  position: fixed;
  left: calc(50%+650px);
  bottom: 120px;
  cursor: pointer;
  background: #4a97e5 url('../images/arrow_top.png')no-repeat center center;
  @media only screen and (max-width: 1410px) {
    display: none !important;
  }
}

.social {
  position: fixed;
  width: 40px;
  top: 300px;
  left: calc(50% - 710px);
  z-index: 1;
  @media only screen and (max-width: 1439px) {
    display: none;
  }
  a {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    border-radius: 4px;
    overflow: hidden;
  }
  .vk {
    background: url('../images/social.png')no-repeat center top;
  }
  .fb {
    background: url('../images/social.png')no-repeat center -42px;
  }
  .od {
    background: url('../images/social.png')no-repeat center -84px;
  }
  .tw {
    background: url('../images/social.png')no-repeat center -126px;
  }
  .gp {
    background: url('../images/social.png')no-repeat center -168px;
  }
}

.bread_crumbs {
  margin-bottom: 25px;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  a {
    color: $blue;
  }
  .separator {
    color: $blue;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 5px;
  }
}

.blue_color {
  color: $blue;
}

.number_marker {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 50px;
  padding-top: 5px;
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  background: url('../images/label.svg')no-repeat center center;
}

.work_examples {
  margin-bottom: 60px;
  .item {
    height: 145px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid $blue;
    background: #deecfa;
    padding: 30px 65px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    @media only screen and (max-width: 767px) {
      height: auto;
    }
  }
  .number_marker {
    position: absolute;
    top: 15px;
    left: -10px;
  }
  .text {
    font-size: 18px;
    line-height: 1.4;
  }
}

.list {
  li {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 15px;
    position: relative;
    color: $blue;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      top: 5px;
      left: -18px;
      border-radius: 50%;
      background: $blue;
    }
    a {
      color: $blue;
    }
  }
}

.work_examples_inner {
  margin-bottom: 60px;
  .accordeon_item {
    margin-bottom: 2px;
  }
  .accordeon_title {
    background: #eaf3fc;
    cursor: pointer;
    padding: 0 15px;
    &.active {
      h4 {
        &:before {
          transform: rotate(180deg);
        }
      }
    }
    h4 {
      position: relative;
      padding: 35px 0;
      max-width: 900px;
      margin: 0 auto;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      text-transform: none;
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 24px;
        height: 14px;
        top: 50%;
        margin-top: -7px;
        right: 0px;
        transition: .3s;
        background: url('../images/arrow_accordeon.png')no-repeat center center;
      }
    }
  }
  .accordeon_inner {
    padding: 30px 15px;
    background: #f7fbfe;
    .list {
      max-width: 900px;
      margin: 0 auto;
    }
  }
}

.work_examples_news {
  .img {
    display: block;
    height: 165px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .text {
    display: block;
    font-size: 14px;
    line-height: 16px;
  }
}
